node_modules
state
test-state
static
meilisearch
data.ms
dumps
.DS_Store
.turbo
dist
.vscode
.tap
infrascan-test-state-*

apps/documentation/docs/@infrascan
apps/documentation/.docusaurus
apps/documentation/build
!apps/documentation/static